language: go
sudo: required

go:
  - 1.12.x
  - tip

service:
  - docker

env:
  - GO111MODULE=on GOPROXY=https://proxy.golang.org
  - REG_TOKEN=$GITHUB_TOKEN

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go_import_path: github.com/src-d/regression-retrieval

script:
  - make test-coverage

before_deploy:
  - make build COMMANDS="cmd/*"
  - make packages COMMANDS="cmd/*"

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: build/*.tar.gz
  skip_cleanup: true
  on:
    tags: true

after_deploy:
  - DOCKER_PUSH_LATEST=1 make docker-push
